@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --gray-dark: #e1e6ef;
  --gray-medium: #f1f3f9;
  --gray-light: #f8f9fc;

  --font-size-lg: 20px;
  --font-size-md: 12px;
  --font-size-sm: 10px;
  --font-size-btn: 16px;

  --font-color-primary: #1d2433;
  --font-color-secondary: rgba(29, 36, 51, 0.8);
  --font-color-secondary-light: rgba(29, 36, 51, 0.75);

  --label-primary-color: #3d8af6;
  --label-primary-bg: #e8f1fe;
  --label-success-color: #5abb7a;
  --label-success-bg: #f0fff5;
  --label-error-color: #e0593e;
  --label-error-bg: #ffefec;

  --svg-color-darkest: invert(9%) sepia(25%) saturate(1128%) hue-rotate(182deg)
    brightness(6%) contrast(87%);
  --svg-color-darkgray: invert(13%) sepia(40%) saturate(400%) hue-rotate(182deg)
    brightness(101%) contrast(101%);
  --svg-color-primary: invert(44%) sepia(89%) saturate(1747%) hue-rotate(197deg)
    brightness(98%) contrast(97%);
  --svg-color-success: invert(69%) sepia(32%) saturate(575%) hue-rotate(87deg)
    brightness(87%) contrast(93%);
  --svg-color-customer-list: invert(93%) sepia(14%) saturate(111%)
    hue-rotate(177deg) brightness(99%) contrast(90%);
}
/***** Body CSS *****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  font-family: "Inter";
  color: var(--font-color-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/***** All content CSS *****/
.container {
  width: 1611px;
  height: 1090px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/***** Title bar CSS *****/
.title-bar-container {
  width: 100%;
  height: 56px;
  padding: 6px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-dark);
  font-size: var(--font-size-lg);
  color: var(--font-color-secondary);
}
.title-bar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.export-button {
  height: 44px;
  width: 95px;
  padding: 12px 8px;
  font-size: var(--font-size-btn);
  line-height: 16px;
  background-color: var(--gray-medium);
  letter-spacing: 0.02em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.export-button > img {
  height: 11px;
  filter: var(--svg-color-darkest);
  padding-right: 8px;
}

.new-button {
  height: 40px;
  width: 78px;
  padding: 12px, 16px, 12px, 8px;
  color: #fff;
  font-size: var(--font-size-btn);
  line-height: 16px;
  background-color: var(--label-success-color);
  letter-spacing: 0.02em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.new-button > img {
  height: 11px;
  padding-right: 8px;
}

.title-bar-button {
  height: 40px;
  width: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-medium);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.title-bar-button > img {
  height: 13.75px;
  filter: var(--svg-color-darkgray);
}

/***** Tables and pagination CSS *****/
.content-container {
  display: flex;
}

.tables-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pagination-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  font-size: var(--font-size-md);
  line-height: 16px;
  color: var(--font-color-secondary);
  gap: 16px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown {
  height: 32px;
  width: 63px;
  padding: 6px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border: 1px solid #adbbca;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown > img {
  height: 5px;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: var(--font-size-md);
  line-height: 16px;
  color: var(--font-color-secondary);
}

.pagination-button {
  height: 32px;
  width: 32px;
  padding: 8px;
  background-color: #f8f9fc;
  border-radius: 5px;
  border: none;
}

.pagination-button:nth-of-type(2) {
  background-color: var(--gray-medium);
  cursor: pointer;
}

.check {
  display: flex;
  justify-content: center;
}

.custom-check {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d94f6;
  border-radius: 3px;
  border: none;
}

.table-row {
  height: 64px;
  display: flex;
  border-bottom: 1px solid var(--gray-medium);
}

.table-row > div {
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.table-row div:nth-child(1) {
  width: 64px;
  align-items: center;
}
.table-row div:nth-child(2) {
  width: 200px;
}
.table-row div:nth-child(3) {
  width: 180px;
}
.table-row div:nth-child(4) {
  flex-grow: 1;
}
.table-row div:nth-child(5) {
  width: 150px;
}
.table-row div:nth-child(6) {
  width: 160px;
}
.table-row div:nth-child(7) {
  width: 150px;
  align-items: flex-end;
}
.table-row div:nth-child(8) {
  width: 64px;
  align-items: center;
}
.table-row div:nth-child(8) > img {
  cursor: pointer;
}
.check-container {
  display: inline-block;
}

.order-number {
  font-size: var(--font-size-sm);
  color: var(--font-color-secondary);
  line-height: 14px;
}

.table-header {
  height: 43px;
  background-color: var(--gray-medium);
  font-weight: 600;
}
.table-header > div {
  padding: 13px 8px;
}

/***** Label CSS *****/
.label {
  height: 25px;
  width: auto;
  padding: 4px 8px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  line-height: 17px;
}

.in-progress {
  background-color: var(--label-primary-bg);
  color: var(--label-primary-color);
}
.in-progress::before {
  content: url(./icons/radio-btn.svg);
  filter: var(--svg-color-primary);
  padding-right: 8px;
}

.success {
  background-color: var(--label-success-bg);
  color: var(--label-success-color);
}
.success::before {
  content: url(./icons/radio-btn.svg);
  filter: var(--svg-color-success);
  padding-right: 8px;
}

.normal {
  background-color: var(--gray-medium);
  color: var(--font-color-secondary);
}
.normal::before {
  content: url(./icons/radio-btn.svg);
  filter: var(--svg-color-darkgray);
  padding-right: 8px;
}

.error {
  background-color: var(--label-error-bg);
  color: var(--label-error-color);
  padding: 2px 4px;
  line-height: 15px;
}

/***** Customer sidepanel CSS *****/
.customers-container {
  height: 972px;
  width: 370px;
  background-color: var(--gray-light);
  color: var(--font-color-secondary);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.customers-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-lg);
  line-height: 24px;
}

.customer-add-button {
  height: 40px;
  width: 95px;
  font-size: var(--font-size-btn);
  background-color: var(--gray-medium);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.customer-add-button > img {
  height: 13.75px;
  filter: var(--svg-color-darkest);
  padding-right: 8px;
}

.customers-sort-container {
  width: 338px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 16.8px;
  letter-spacing: 0.2em;
  color: rgba(29, 36, 51, 0.5);
  transition: 0.2s all ease-in;
}

.customers-sort-container > div:hover {
  transition: 0.2s all ease-in;
  scale: 1.15;
  cursor: pointer;
}

.customers-search-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.search-input {
  height: 40px;
  width: 205px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  cursor: text;
}

.search-input > img {
  height: 13.75px;
}

.search-text {
  height: 30px;
  border: none;
  padding-left: 8px;
}

.search-text:focus {
  outline: none;
}

.search-button {
  height: 40px;
  width: 129px;
  padding: 11px 0;
  color: #166ee8;
  font-size: var(--font-size-btn);
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f1fe;
  border: 1px solid #accbf6;
  border-radius: 5px;
  cursor: pointer;
}

.customers-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--font-color-secondary-light);
  cursor: pointer;
}

.customers-list li:hover {
  opacity: 0.8;
}

.customers-list li::before {
  content: url(./icons/radio-btn.svg);
  filter: var(--svg-color-customer-list);
  padding-right: 8px;
}

.customers-modal {
  height: 182px;
  background-color: var(--gray-dark);
  padding: 16px 24px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: 24px;
}

.modal-title > img {
  height: 11px;
  cursor: pointer;
}

.modal-button {
  height: 40px;
  width: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #166ee8;
  font-size: var(--font-size-btn);
  line-height: 19px;
  background-color: #e8f1fe;
  border: 1px solid #accbf6;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button > img {
  height: 13.75px;
  padding-right: 8px;
}

/* 
Table row background color changer code and other changes.
First checkbox does not select all rows yet.
*/

.table-row:has(.bg-selector > input:checked) {
  background-color: #e8f1fe;
}

button {
  transition: 0.2s all ease-in;
}
button:hover {
  opacity: 0.8;
  transition: 0.2s all ease-in;
}
